@media (max-width: 600px) {
  /* Navigation */
  .navigation-nav,
  .home-text {
    display: none;
  }

  /* Hero */
  .home-text01 {
    padding-top: 24px;
  }

  .home-text-container {
    margin-bottom: 24px;
  }

  .button.button-lg.button-secondary {
    margin-bottom: 24px;
  }

  .home-text03 {
    font-weight: 900;
  }

  /* Gallery */
  .section-container {
    padding-bottom: 32px;
  }

  .home-tab-selector-cards-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  /* We help you */
  .home-image {
    display: none;
  }

  .section-container {
    padding-top: 32px;
  }

  .home-text-container {
    margin-bottom: 0;
  }

  /* Our process */
  .home-text10 {
    margin-right: 30px;
  }

  /* Footer */
  .home-links-container {
    flex-direction: column;
    gap: 30px;
  }

  .home-top-part {
    gap: 30px;
  }

  .home-top-part {
    flex-direction: column;
  }

  .home-subscribe-container {
    width: 100%;
  }

  .button-primary.button {
    padding: 18px 24px;
  }
}
