body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

/* Unordered list */

ul {
    list-style: none;
}

ul.check li i {
    color: #2fcc71;
    font-size: 25px;
    padding-right: 10px;
}

ul.star li i {
    color: coral;
    font-size: 25px;
    padding-right: 10px;
}

ul.contact li i {
    color: #3498da;
    font-size: 25px;
    padding-right: 10px;
}