body {
  background-color: rgb(238, 238, 238);

  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 550px;
  max-height: 150px;
  background-color: rgb(255, 255, 255);
  padding: 0 0 1em 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h1 {
  font-family: "Times New Roman", Times, serif;
}
